:root {
    --text-color-white: #fff;
    --dark-grey: hsl(0, 0%, 59%);
    --very-dark-grey: hsl(0, 0%, 17%);
    --default-border-radius: 15px;
    --input-address-height: 7rem;
}

html {
    box-sizing: border-box;
    font-size: 50%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

/*** HEADER ***/

.main-header
{
    text-align: center;
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    height: 35rem;
}

.main-header h1 {
    font-size: 3rem;
    color: var(--text-color-white);
    margin-bottom: 3rem;
    font-weight: 500;
}

.form-tracker {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.input-address-container {
    flex-grow: 1;
}

.input-address {
    font-size: 18px;
    padding: 0 2.5rem;
    border-radius: var(--default-border-radius);
    outline: none;
    border: none;
    width: 100%;
    height: var(--input-address-height);
}

.form-submit-ip {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    border: none;
    /*With these two properties, the submit button is an exact square.*/
    width: var(--input-address-height);
    height: 100%;
    /****/
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    cursor: pointer;
}

.form-submit-ip::before {
    content: url('../images/icon-arrow.svg');
    width: 11px;
    height: 14px;
}