:root {
    --text-color-white: #fff;
    --dark-grey: hsl(0, 0%, 59%);
    --very-dark-grey: hsl(0, 0%, 17%);
}

html {
    box-sizing: border-box;
    font-size: 50%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

/*** HEADER ***/

.main-header
{
    text-align: center;
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    padding-top: 2rem;
}

.main-header h1 {
    font-size: 3rem;
    color: var(--text-color-white);
    margin-bottom: 3rem;
    font-weight: 500;
}

.form-tracker {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.input-address-container input {
    font-size: 18px;
    padding: 1.6rem 2.5rem;
    border-radius: 15px;
    outline: none;
    border: none;
}