:root {
    --text-color-white: #fff;
    --dark-grey: hsl(0, 0%, 59%);
    --very-dark-grey: hsl(0, 0%, 17%);
    --default-border-radius: 15px;
    --input-address-height: 7rem;
}

html {
    box-sizing: border-box;
    font-size: 50%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 300px;
}

/*** HEADER ***/

.main-header
{
    text-align: center;
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    height: 37rem;
    position: relative;
}

.main-header h1 {
    font-size: 3.2rem;
    color: var(--text-color-white);
    margin-bottom: 3.4rem;
    font-weight: 500;
}

.loader-container {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
}

.loader-container.show-loader {
    display: flex;
}

.form-tracker {
    margin: 0 auto;
    position: relative;
}
.input-address-container {
    flex-grow: 1;
}

.input-address {
    font-size: 18px;
    padding: 0 2.5rem;
    border-radius: var(--default-border-radius);
    outline: none;
    border: none;
    width: 100%;
    height: var(--input-address-height);
}

.submit-form {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    border: none;
    /*With these two properties, the submit button is an exact square.*/
    width: var(--input-address-height);
    height: 100%;
    /****/
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    cursor: pointer;
}

.submit-form::before {
    content: url('../images/icon-arrow.svg');
    width: 11px;
    height: 14px;
}

.results-container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 55%);
    z-index:999;
    text-align: center;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, .1);
    border-radius: var(--default-border-radius);
    overflow: scroll;
    max-height: 42.5rem;
}

.ipaddress-info {
    display: grid;
    row-gap: 3rem;
    background-color: #fff;
    padding: 3rem 1rem;
}

.error-message {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: var(--very-dark-grey);
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    display: none;
}

.error-message.display-error {
    display: flex;
}

.error-face {
    font-size: 7rem;
}

.error-message-text {
    font-size: 2.5rem;
}

.info-item h5 {
    text-transform: uppercase;
    color: var(--dark-grey);
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    letter-spacing: 2px;
}

.info-item span.data-info {
    font-weight: 500;
    display: block;
    font-size: 2.3rem;
    opacity: 0;
}

.info-item span.data-info.textFadeIn {
    animation-name: textFadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* SHARED STYLES */
.results-container, .form-tracker {
    width: 90%;
}

@keyframes textFadeIn {
    from {
        transform: scale(0.8);
    }
    
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (min-width: 500px) {

    .ipaddress-info {
        grid-template-columns: 1fr 1fr;
    }

    .form-tracker {
        max-width: 70rem;
    }
}


@media screen and (min-width: 1100px) {

    :root {
        --input-address-height: 6rem;
    }

    html {
        font-size: 62.5%;
    }


    .main-header
    {
        height: 30rem;
    }

    .results-container {
        max-width: 130rem;
        max-height: 25rem;
    }

    .ipaddress-info {
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        justify-items: center;
        column-gap: 6rem;
        text-align: left;
    }

    .info-item {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 1.5rem;
    }

    .info-item:not(:first-child) {
        border-left: 1px solid var(--dark-grey);
    }

    .error-message {
        flex-direction: row;
        gap: 4rem;
    }

}